# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 7065dee23964aa176d1953a2add944b19b2c9dcf8cfdea0a77cbfadd4e9099623e0617d400d7bc8d823b3872f129c10fe03736ccbd923b470ccc9c30f8f35fa4

test:
  secret_key_base: 2fbc3edb8c99feb9750e4708d4d074f5ffba5c8678bf17ca22f3d58fa90ae23686e58959dd00cc307fc6de5ec24dec72f0ad23f51be2964229c13f828b7b8de2

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
